[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
